@using ProjeCore.Models;
@model List<Personel>
@{
    ViewData["Title"] = "BirimDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>
    @ViewBag.brmad
</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>>
        <th>SOYAD</th>>
        <th>ŞEHİR</th>>
       
    </tr>
    @foreach (var x in Model)
    {

    
        <tr>
            <th>@x.PersonelId</th>
            <th>@x.Ad</th>>
            <th>@x.Soyad</th>>
            <th>@x.Sehir</th>>
            
            
        </tr>
    }
</table>